{% extends "base.html" %}

{% block title %} 
Login - Snoopy Ticket Sales
{% endblock %}

{% block top_header %}
{% endblock %}

{% block navigation %}
<nav class="menu">
    <span class="menu-item"><a href="{{ url_for('index') }}">home</a></span>
</nav>
{% endblock %}

{% block content %}
<div class="register-form">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="register-btn">Login</button>
    </form>
    <div class="login">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}