{% extends 'base.html' %}

{% block title %}
Tours - Snoopy Ticket Sales
{% endblock %}

{% block navigation %}
<nav class="menu">
    <span class="menu-item"><a href="{{ url_for('opera') }}">opera</a></span>
    <span class="menu-item"><a href="{{ url_for('art') }}">art & museum</a></span>
    <span class="menu-item"><a href="{{ url_for('index') }}">home</a></span>
</nav>
{% endblock %}

{% block content %}
<div class="opera-tickets">
    {% for ticket in tickets %}
        {% include "ticket_card.html" %}
    {% endfor %}
</div>
{% endblock %}